<div class="text-center footer container-fluid">
    <h2>LET'S WORK TOGETHER</h2>
    <p class="fs-4 mt-4"><a class="text-decoration-none text-white" href={{profile.contact.email}}>jobme1998@gmail.com</a></p>
    <p class="fs-4 num">+55 16 9933-279-96</p>

    <div class="d-flex align-items-center foot">
        <h2>PORTFOLIO</h2>
        <div class='d-flex align-items-center ms-auto foot fo'>
            <p class="me-4"><a class="text-decoration-none text-white" href="{{profile.contact.linkedin}}">LINKEDIN</a></p>
            <p class="me-4"><a class="text-decoration-none text-white" href="{{profile.contact.github}}">GITHUB</a></p>
            <p><a class="text-decoration-none text-white" href="#">INSTAGRAM</a></p>
        </div>
    </div>

    <hr/>
    <p class="fs-6">&copy; BRICE ALL RIGHT RESERVED</p>
</div>